@import 'tailwindcss/base';

:root {
  --loader-primary: hsl(var(--p));
  --loader-secondary: hsl(var(--nc));
  --loader-border: 5px;
  --loader-width: 48px;
  --loader-speed: 1s;
}
:root {
  /* --maindark: #171717;
  --dark: #212121;
  --darker: #111111;
  --semidark: #2c2c2c;
  --grey: #9c9c9c;
  --offwhite: #f2f2f2; */
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .btn {
    @apply no-animation active:focus:scale-95;
  }

  .min-h-screen-header {
    min-height: calc(100vh - 63.99px) !important;
  }
}

#gradient-canvas {
  --gradient-color-1: #bde1ff;
  --gradient-color-2: #6ca0f4;
  --gradient-color-3: #e2d8ee;
  --gradient-color-4: #94c8ff;
}
